#headerFormat {
    text-align: center;
    font-family: "Courrier New";
    color: white;
}

.headerBox{
    border-radius: 25px;
    border: 7px red;
    background: #FF3333;
}

.body{
    margin: 0px 0px 0px 0px;
}

#bodyHeader {
    text-align: center;
    font-family: "Courrier New";
    color: white;
}

#bulletPoints{
    margin-left:22%;
    margin-right: 22%;
    text-align: left;
    font-family: "Courrier New";
    color: white;
}

.blueBoxBodyNotes{
    border-radius: 25px;
    background: blue;
    margin: 3px 0px 0px 0px;
    padding-left:7px;
    padding-bottom: 10px;
}

.greenBoxBodyQuizzes{
    margin: 3px 0px 0px 0px;
    border-radius: 25px;
    border: 5px green;
    background: green;
    padding-left: 7px;
    padding-bottom: 10px;
}

.footer{
    border-radius: 25px;
    text-align: center;
    font-family: "Courrier New";
    color: red;

    background: yellow;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
}
