#headerFormat {
    text-align: center;
    font-family: "Courrier New";
    color: white;
}

.headerBox{
    border-radius: 25px;
    border: 7px groove red;
    background: #FF3333;

}

#bodyHeader {
    text-align: center;
    font-family: "Courrier New";
    color: white;
}

#bulletPoints{
    margin-left:400px;
    text-align: left;
    font-family: "Courrier New";
    color: white;
}

.blueBoxBody{
    border-radius: 25px;
    border: 5px groove blue;
    background: blue;
    margin-top: 7px;
    padding-left:7px;
    padding-bottom: 10px;
}

.footer{
    border-radius: 25px;
    text-align: center;
    font-family: "Courrier New";
    color: red;

    border : 1px groove black;
    background: yellow;
    margin-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 10px;
}
