menuBar{
    position: fixed;
    top: 0;
}

#headerFormat {
    text-align: center;
    font-family: "Open Sans";
    color: white;
}

.header{
    margin: 0px -30px 0px -30px;
    border: 7px red;
    background: red;
}

.headerBox{
    margin: -10px -10px -10px -10px;
    border: 7px red;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#bodyHeader {
    text-align: center;
    font-family: "Open Sans";
    color: white;
}

#bulletPoints{
    margin-left:22%;
    margin-right: 22%;
    text-align: left;
    font-family: "Open Sans";
    color: white;
}

.greenBoxBodyQuizzes{
    margin: 3px 0px 0px 0px;
    border: 5px #4CAF50;
    background: #4CAF50;
    padding-left: 7px;
    padding-bottom: 10px;
}

.footer{
    text-align: center;
    font-family: "Open Sans";
    color: red;
    margin: -10px -10px -10px -10px;
    background: #FF0;
}


