body1 {
    text-align: center;
    font-family: "Courrier New";
    color: white;
}

.header{
    border: 7px groove red;
    background: #FF3333;

}

body2 {
    
    text-align: left;
    font-family: "Courrier New";
    color: yellow;
}

.body{
    border: 5px groove blue;
    background: blue;
    margin-top: 7px;
    padding-left:7px;
    padding-bottom: 10px;
}